<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" tent="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Stylesheet-->
    <link rel="icon" type="image/jpg" href="images/favicon.png">    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>Sentiment Analysis Dashboard</title>
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <div>
                <h1>Sentiment Analysis Dashboard</h1>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ url_for('about') }}">About</a>
                        </li>
                        <li>
                            <a href="#" class="active">Analysis Results</a>
                        </li>
                        <li>
                            <a href="{{ url_for('contact_us') }}">Contact Us</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">Log Out</a>
                        </li>
                    </ul>
                    <ul class="options">
                        <li>
                            <button id="downloadPdf" class="btn ">Download PDF</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu-btn">
                <span class="material-icons">
                    segment
                </span>
            </div>     
        </div>
    </nav>

    <nav class="sidebar">
        <div class="container">
            <h3 class="title">Menu</h3>
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">
                        <span class="material-icons">
                            home
                        </span>
                        <span>
                            Home
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('user_profile') }}">
                        <span class="material-icons">
                            lock
                        </span>
                        <span>User Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('help') }}">
                        <span class="material-icons">
                            help
                        </span>
                        <span>Help</span>
                    </a>
                </li>
            </ul>
            <div class="note">
                <h1>What's New</h1>
                <p>
                    Stay notified with the latest updates and bug fixes in this brand new version 1.0
                </p>
                <!-- Change this to a button that triggers the popup -->
                <button id="openPopup" class="btn">Learn More</button>
            </div>
            <div class="sidebar-footer">
                <p>Copyright &copy; 2024 by Jia Jie | all rights reserved!</p>
            </div>
        </div>

        <div id="featurePopup" class="popup">
            <span id="closePopup" class="close">&times;</span>
            <div class="popup-content">
                <h1>What's New in Version 1.0</h1>
                <p>
                    We are excited to introduce the latest updates in Version 1.0, which include:
                </p>
                <ul>
                    <li>Enhanced user interface for better experience</li>
                    <li>Optimized performance and faster load times</li>
                    <li>New features for advanced sentiment analysis</li>
                    <li>Bug fixes and security updates</li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="dashboard" id="pdf">
        <div class="panel list">
            <li>
                <h2>User Sentiments</h2>
                <span>Index</span>
            </li>
            <li>
                <h4>Positive</h4>
                <span>{{ positive_index | default(0)}} / 10</span>   <!--After analysis, link the result here-->
            </li>
            <li>
                <h4>Neutral</h4>
                <span>{{ neutral_index | default(0)}} / 10</span>   <!--After analysis, link the result here-->                
            </li>
            <li>
                <h4>Negative</h4>
                <span>{{ negative_index | default(0)}} / 10</span>   <!--After analysis, link the result here-->                
            </li>
        </div>

        <div id="barChart"></div>

        <div class="goals">
            <div class="panel goal">
                <span class="material-icons">
                    sentiment_very_satisfied
                </span>
                <div>
                    <div class="goal-title">
                        <h4>Positive</h4>
                        <h4>{{ positive | default(0)}}</h4>
                    </div>
                    <small>Number of user reviews with positive sentiment &nbsp</small>
                </div>
            </div>
            <div class="panel goal">
                <span class="material-icons">
                    sentiment_neutral
                </span>
                <div>
                    <div class="goal-title">
                        <h4>Neutral</h4>
                        <h4>{{ neutral | default(0)}}</h4>
                    </div>
                    <small>Number of user reviews with neutral sentiment &nbsp&nbsp</small>
                </div>
            </div>
            <div class="panel goal">
                <span class="material-icons">
                    sentiment_very_dissatisfied
                </span>
                <div>
                    <div class="goal-title">
                        <h4>Negative</h4>
                        <h4>{{ negative | default(0)}}</h4>
                    </div>
                    <small>Number of user reviews with negative sentiment</small>
                </div>
            </div>
        </div>

        <div class="table-container two-thirds-width">
            <!-- Reviews Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th class="filter-container">User Review
                            <select id="sentimentFilter">
                                <option value="all">All</option>
                                <option value="Positive">Positive</option>
                                <option value="Neutral">Neutral</option>
                                <option value="Negative">Negative</option>
                            </select>
                        </th>
                        <th>Category</th>
                        <th>Sentiment</th>
                    </tr>
                </thead>
                <tbody id="reviewsTableBody">
                    {% for review in reviews %}
                    <tr>
                        <td>{{ review.no }}</td>
                        <td>{{ review.review }}</td>
                        <td>{{ review.category }}</td>
                        <td>{{ review.sentiment }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="pieChart"></div>
        <div id="horizontalBarChart"></div>
    </div>

        <div class="panel text text-vertical">
            <h1 style="font-size: 36px;">About your sentiment analysis result</h1>
            {% if positive > neutral and positive > negative %}
            <p>The sentiment analysis shows a mostly positive response from users, with reviews reflecting satisfaction and favorable experiences. This indicates a positive sentiment trend.</p>
            
            {% if most_frequent_category %}
                <p>The category that received the most attention is "{{ most_frequent_category }}". This suggests that users are particularly satisfied with aspects related to {{ most_frequent_category }}. Consider maintaining or further improving your offerings in this area to continue meeting user expectations.</p>
            {% endif %}
    
        {% elif neutral > positive and neutral > negative %}
            <p>A significant portion of the analyzed user reviews exhibits a neutral sentiment. Users share opinions without strong positive or negative inclinations, indicating a balanced and unbiased viewpoint.</p>
            
            {% if most_frequent_category %}
                <p>The category that was most frequently mentioned is "{{ most_frequent_category }}". While the overall sentiment is neutral, this category seems to be a topic of interest for many users. Consider focusing on this area to potentially improve user satisfaction.</p>
            {% endif %}
    
        {% elif negative > positive and negative > neutral %}
            <p>The sentiment analysis identifies a prevalent negative sentiment in the user reviews. Some user reviews reflect dissatisfaction or concerns, suggesting areas that may need attention or improvement.</p>
            
            {% if most_frequent_category %}
                <p>The category that received the most attention is "{{ most_frequent_category }}". This suggests that users are particularly dissatisfied with aspects related to {{ most_frequent_category }}. Consider prioritizing improvements in this area to address user concerns and enhance overall satisfaction.</p>
            {% endif %}
    
        {% else %}
            <p>The sentiment analysis reveals a balanced mix of opinions, with no clear dominant sentiment.</p>
            
            {% if most_frequent_category %}
                <p>The category that was most frequently mentioned is "{{ most_frequent_category }}". Given the mixed sentiments, it might be beneficial to conduct a more detailed analysis of the feedback in this category to identify specific areas for improvement or maintenance.</p>
            {% endif %}
    
        {% endif %}
        </div>
        <div id="donutChart"></div>

        <div id="data" style="display:none;">
            <script type="application/json">
                {
                    "positive": {{ positive }},
                    "neutral": {{ neutral }},
                    "negative": {{ negative }},
                    "positive_index": {{ positive_index }},
                    "neutral_index": {{ neutral_index }},
                    "negative_index": {{ negative_index }},
                    "top_five_categories": {{ top_five_categories | tojson | safe }}
                }
            </script>
        </div>
    </main>

    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
    <!-- Data for more complex charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <!-- Main Script -->
    <script src="{{ url_for('static', filename='plotly.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>


</body>
</html>