<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Stylesheet-->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Home</title>
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <div>
                <h1>Sentiment Analysis Dashboard</h1>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="{{ url_for('home') }}" class="active">Home</a>
                        </li>
                        <li>
                            <a href="{{ url_for('about') }}">About</a>
                        </li>
                        <li>
                            <a href="#" >Analysis Results</a>
                        </li>
                        <li>
                            <a href="{{ url_for('contact_us') }}">Contact Us</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu-btn">
                <span class="material-icons">
                    segment
                </span>
            </div>     
        </div>
    </nav>

    <nav class="sidebar">
        <div class="container">
            <h3 class="title">Menu</h3>
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">
                        <span class="material-icons">
                            home
                        </span>
                        <span>
                            Home
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('user_profile') }}">
                        <span class="material-icons">
                            lock
                        </span>
                        <span>User Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('help') }}">
                        <span class="material-icons">
                            help
                        </span>
                        <span>Help</span>
                    </a>
                </li>
            </ul>
            <div class="note">
                <h1>What's New</h1>
                <p>
                    Stay notified with the latest updates and bug fixes in this brand new version 1.0
                </p>
                <!-- Change this to a button that triggers the popup -->
                <button id="openPopup" class="btn">Learn More</button>
            </div>
            <div class="sidebar-footer">
                <p>Copyright &copy; 2024 by Jia Jie | all rights reserved!</p>
            </div>
        </div>

        <div id="featurePopup" class="popup">
            <span id="closePopup" class="close">&times;</span>
            <div class="popup-content">
                <h1>What's New in Version 1.0</h1>
                <p>
                    We are excited to introduce the latest updates in Version 1.0, which include:
                </p>
                <ul>
                    <li>Enhanced user interface for better experience</li>
                    <li>Optimized performance and faster load times</li>
                    <li>New features for advanced sentiment analysis</li>
                    <li>Bug fixes and security updates</li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="searchcontainer">
            <form action="{{ url_for('submit') }}" method="post" class="search-bar">
                <input type="text" placeholder="Facebook Review Link" name="url" required>
                <button type="submit">
                    <img src="https://icons.veryicon.com/png/o/education-technology/education-app/search-137.png">
                </button>
            </form>
        </div>
    </main>

    <script src="{{ url_for('static', filename='plotly.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>